
%h1 Questions
%br
= link_to new_question_path, class: 'btn btn-primary' do
  .glyphicon.glyphicon-plus
  Create
%hr.invisible
%table.table.table-striped
  %tr
    %th Question
    %th Answer
    %th Username
    %th
  - @questions.each do |question|
    %tr
      %td= link_to question.body, question
      - if question.answer
        %td= question.answer.body
      - else
        %td Unanswered Question
      - if question.user.email
        %td= question.user.email
      - else
        %td 'No namer'
