%footer
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        %hr.invisible
        %hr.invisible
        %hr.invisible
        %h4
          = link_to root_path do 
            Forum App
          | &copy; 2016